doctype html(lang='en')
html
  head
    meta(charset='UTF-8')
    title Social Login
  body(ng-app='socialLogin')
    div(ng-controller="navbarCtrl" ng-cloak)
      button(ui-sref='home') Home
      button(ui-sref='login' ng-if='!isAuthenticated()') Login
      button(ui-sref='profile' ng-if='isAuthenticated()') Profile

    ui-view

    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/angular/angular.js')
    script(src='vendor/angular-ui-router/release/angular-ui-router.min.js')
    script(src='vendor/satellizer/satellizer.min.js')
    script(src='js/module.js')
    script(src='js/controllers/navbar.js')
    script(src='js/controllers/login.js')
    script(src='js/controllers/home.js')
    script(src='js/controllers/profile.js')
